<h2>New Item</h2>
<%= simple_form_for @item do |form| %>
  <%= render form %>
  <br />
  <%= link_to "Cancel", :back, class: 'btn btn-default' %>
  <%= form.button :submit, class: 'btn-success' %>
<% end %>

